h1,
legend {
  font-family: "Quicksand", sans-serif;
}
.div2 {
  font-family: Algerian, "Alegreya", serif;
}
.div3 {
  font-family: Arial, "Alegreya Sans", sans-serif;
}
.div4 {
  font-family: "Times New Roman", "Arvo", serif;
}
.div5 {
  font-family: "Chelsea Market", cursive;
}
.div6 {
  font-family: "Crimson Text", serif;
}
.div7 {
  font-family: "Domine", serif;
}
.div8 {
  font-family: "Edu NSW ACT Foundation", cursive;
}
.div9 {
  font-family: "Edu SA Beginner", cursive;
}
.div10 {
  font-family: "Fira Sans", sans-serif;
}
.div11 {
  font-family: "Gentium Book Plus", serif;
}
.div12 {
  font-family: "Lato", sans-serif;
}
.div13 {
  font-family: "Lora", serif;
}
.div14 {
  font-family: "Merriweather", serif;
}
.div15 {
  font-family: "Merriweather Sans", sans-serif;
}
.div16 {
  font-family: "Montserrat", sans-serif;
}
.div17 {
  font-family: "Open Sans", sans-serif;
}
.div18 {
  font-family: "Playfair Display", serif;
}
.div19 {
  font-family: "Poppins", sans-serif;
}
.div20 {
  font-family: "PT Sans Narrow", sans-serif;
}
.div21 {
  font-family: "Quicksand", sans-serif;
}
.div22 {
  font-family: "Red Hat Display", sans-serif;
}
.div23 {
  font-family: "Roboto", sans-serif;
}
.div24 {
  font-family: "Roboto Slab", serif;
}
.div25 {
  font-family: "Source Sans Pro", sans-serif;
}
.div26 {
  font-family: "Source Serif Pro", serif;
}
.div27 {
  font-family: "Varela Round", sans-serif;
}
.div28 {
  font-family: "Anonymous Pro", monospace;
}
.div29 {
  font-family: "Arima", cursive;
}
.div30 {
  font-family: "Courier Prime", monospace;
}
.div31 {
  font-family: "Expletus Sans", cursive;
}
.div32 {
  font-family: "Fredoka One", cursive;
}
.div33 {
  font-family: "Indie Flower", cursive;
}
.div34 {
  font-family: "Lobster", cursive;
}
.div35 {
  font-family: "Lobster Two", cursive;
}
.div36 {
  font-family: "Poiret One", cursive;
}
.div37 {
  font-family: "PT Mono", monospace;
}
.div38 {
  font-family: "Ubuntu Mono", monospace;
}
